{% extends 'base.html' %}

{% block body %}
{% load static %}

  <main id="main">
    <div class=" text-center container my-5">

        <img src="{% static 'assets/img/3.jpg' %}"
          style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" class="  img-fluid my-4"
          alt="My image"><br>
          <a href="/register/"> <button class="btn btn-success my-4"> Apply Now</button></a>
      <div style="grid-column: span 14;">
        <h3>About course</h3>
        <p align="left">
          Bachelor of Business Administration [B.B.A.] is a 3 year course providing skills, knowledge and training in
          professional management and entrepreneurial abilities. The undergraduate degree course can be studied from all
          backgrounds. BBA courses are available in various specializations such as Finance, Marketing and HR
          Management. BBA Syllabus is designed to impart adequate business administration skills to the students. BBA
          Subjects are Principles of Management, Macroeconomics, Human Behavior & Ethics at Workplace, Management
          Accounting, Banking & Insurance. BBA 1st year subjects include Financial Accounting, Macroeconomics,
          Microeconomics, Quantitative Techniques etc. BBA course is very market and industry oriented. Students after
          completing the course get good BBA Jobs. The average BBA salary ranges between INR 2,50,000 to 10,00,000.
          There are various types of BBA courses in India like BBS, BMS, BBA-FIA, BBA(Hons) etc. Courses after BBA
          includes students doing higher studies in MBA with various MBA specialisation such as MBA in Finance, MBA in
          HR, MBA in Marketing etc.
        </p>
        <h3>Eligibility</h3>
        <ul align="left">
          <li>Candidates should have passed the 10+2 exams from a recognised education board by the university</li>
          <li>The general category aspirants should have scored a minimum of 50% marks as an eligibility condition for
            the BBA entrance exam while the SC/ST candidates should have a score of 45% at least.</li>
        </ul>



        <!-- related cards -->
        <section id="portfolio" class="section-bg">
          <h3>Related Courses</h3>
          <div class="container" data-aos="fade-up">
            <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

              <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                  <figure>
                    <a href="/ba"><img src="{% static 'assets/img/course-single.jpg' %}" class="img-fluid" alt=""></a>
                  </figure>
                  <div class="portfolio-info">
                    <h4> BA</h4>
                    <p>Course</p>
                  </div>
                </div>
              </div>


              <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                  <figure>
                    <a href="/bcom"><img src="{% static 'assets/img/2.jpg' %}" class="img-fluid" alt=""></a>
                  </figure>

                  <div class="portfolio-info">
                    <h4> BCOM</h4>
                    <p>Course</p>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                  <figure>
                    <a href="/blis"><img src="{% static 'assets/img/8.jpg' %}" class="img-fluid" alt=""></a>
                  </figure>
      
                  <div class="portfolio-info">
                    <h4> BLIS</h4>
                    <p>Course</p>
                  </div>
                </div>
              </div>


            </div>
        </section>

      </div>
  </main>


  {% endblock body %}








