{% extends 'base.html' %}

{% block body %}
{% load static %}

  <main id="main">
    <div class=" text-center container my-5">

        <img src="{% static 'assets/img/9.png' %}"
          style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" class="  img-fluid my-4"
          alt="My image"><br>
          <a href="/register/"> <button class="btn btn-success my-4"> Apply Now</button></a>
      <div style="grid-column: span 14;">
        <h3>About course</h3>
        <p align="left">BSc or Bachelor of Science is an undergraduate degree of three years duration which is universally offered across institutes and universities across India. BSc is one of the most popular courses opted by students who have a flair for scientific aptitude and zeal for research-oriented and calculative approaches based on a proven systematic method. Science is all about experimentation, research and discovery. A BSc degree is a culmination of both theoretical and practical ways of learning. Pursuing a BSc degree also opens up multiple avenues for a student and he/she can either opt for higher studies in Science or any other discipline which may be related or different from the subjects studied during graduation. However, Master of Science (MSc) is the most popular higher education alternative opted by students after completing BSc.
        </p>
        <h3>Eligibility</h3>
        <ul align="left">
          <li>The aspirants must pass (10+2) in Science both Secondary and Higher Secondary from a recognized board.</li>
          <li>Candidates must also have secured at least 50% to 60% marks in aggregate.</li>
         
          
        </ul>



        <!-- related cards -->
        <section id="portfolio" class="section-bg">
          <h3>Related Courses</h3>
          <div class="container" data-aos="fade-up">
            <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

              <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                  <figure>
                    <a href="/ba/"><img src="{% static 'assets/img/course-single.jpg' %}" class="img-fluid" alt=""></a>
                  </figure>
                  <div class="portfolio-info">
                    <h4> BA</h4>
                    <p>Course</p>
                  </div>
                </div>
              </div>


              <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                  <figure>
                    <a href="/bsw"><img src="{% static 'assets/img/BOOSE.jpg' %}" class="img-fluid" alt=""></a>
                  </figure>

                  <div class="portfolio-info">
                    <h4> BOSSE</h4>
                    <p>Course</p>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                  <figure>
                    <a href="/mliss"> <img src="{% static 'assets/img/8.jpg' %}" class="img-fluid" alt=""></a>
                  </figure>
      
                  <div class="portfolio-info">
                    <h4> MLIS</h4>
                    <p>Course</p>
                  </div>
                </div>
              </div>


            </div>
        </section>

      </div>
  </main>


  {% endblock body %}








