{% extends 'base.html' %}

{% block body %}
{% load static %}

  <main id="main">
    <div class=" text-center container my-5">

        <img src="{% static 'assets/img/10.jpg' %}"
          style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" class="  img-fluid my-4"
          alt="My image"><br>
          <a href="/register/"> <button class="btn btn-success my-4"> Apply Now</button></a>
      <div style="grid-column: span 14;">
        <h3>About course</h3>
        <p align="left">The MBA course is an academic programme oriented towards management and marketing. It includes subjects such as Organisational Behaviour, Marketing, Principles of Management, Supply Chain Management, Operations Management, etc. Top recruiters for MBA are Amazon, Apple, Bain & Company, Citigroup, Deloitte, Facebook, Accenture, etc. The roles on offer for MBA graduates are generally of middle management levels such as Finance Manager, Product Manger, Strategy Manager, HR Manager, etc. On completing the MBA degree, students can get jobs with salary ranging between INR 8 lakh to INR 30 lakh per annum.
        </p>
        <h3>Eligibility</h3>
        <ul align="left">
          <li>The basic eligibility criteria for MBA (full-time) is graduation in any discipline or equivalent from a recognised university.</li>
          <li>Most of the institutes follow the minimum score criteria in Graduation which is 50 per cent in average or equivalent.</li>
          <li>
            For Reserved category students, the minimum score is 45 per cent in aggregate
          </li>
          <li>
            Final-year graduation candidates are also eligible to apply for MBA, provided they present the proof of completion of Graduation degree within the duration specified by the institute.
          </li>
        </ul>



        <!-- related cards -->
        <section id="portfolio" class="section-bg">
          <h3>Related Courses</h3>
          <div class="container" data-aos="fade-up">
            <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

              <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                  <figure>
                    <a href="/ba/"><img src="{% static 'assets/img/course-single.jpg' %}" class="img-fluid" alt=""></a>
                  </figure>
                  <div class="portfolio-info">
                    <h4> BA</h4>
                    <p>Course</p>
                  </div>
                </div>
              </div>


              <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                  <figure>
                    <a href="/bsw"><img src="{% static 'assets/img/BOOSE.jpg' %}" class="img-fluid" alt=""></a>
                  </figure>

                  <div class="portfolio-info">
                    <h4> BOSSE</h4>
                    <p>Course</p>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                  <figure>
                    <a href="/mliss"> <img src="{% static 'assets/img/8.jpg' %}" class="img-fluid" alt=""></a>
                  </figure>
      
                  <div class="portfolio-info">
                    <h4> MLIS</h4>
                    <p>Course</p>
                  </div>
                </div>
              </div>


            </div>
        </section>

      </div>
  </main>


  {% endblock body %}








